<?xml version="1.0" encoding="UTF-8" ?>
<root>
    <width>
        900
    </width>
    <height>
        600
    </height>
    <password>
        test_password
    </password>
    <font>
        MS Gothic
    </font>
    <fontSize>
        12
    </fontSize>
    <newLine>
        \n
    </newLine>
</root>